<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quokkaevent"
        tools:targetApi="31">
        <activity
            android:name=".controllers.WaitlistEntriesActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.EventDetailsViewActivity"
            android:exported="false" />
        <activity
            android:name=".QrScannerPageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controllers.AdminLandingPageActivity" />
        <activity android:name=".controllers.BrowseProfileDetailsActivity" />
        <activity android:name=".controllers.AdminBrowseEventsActivity" />
        <activity android:name=".controllers.AdminEventTabsActivity" />
        <activity android:name=".controllers.MyEventsActivity" />
        <activity android:name=".controllers.EventDetailsActivity" />
        <activity android:name=".controllers.ConfirmationActivity" />
        <activity android:name=".controllers.WaitlistActivity" />
        <activity android:name=".NotificationPageActivity" />
        <activity android:name=".OrganizerEventsPageActivity" />
        <activity android:name=".controllers.EventTabsActivity" />
        <activity android:name=".UserProfilePageActivity" />
        <activity android:name=".models.organizer.EventEntrantsPage"/>
    </application>

</manifest>